/* Цвет основного теста #775755; */
/* Вторичный цвет текста #212121 */
/* Цвет акцент #2196F3 */
/* Белый цвет #FFFFFF */
/*Цвет адресса в подвале rgba(255, 255, 255, 0.6); */
/* Вторичный цвет фона #2F303A; */
/* Цвет фона team #F5F4FA */
:root {
    --indent-section: 94px;
    --indent-cards: 30px;
    --primery-text-color: #775755;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --accent-bgc: #2F303A;
    --white-color: #FFFFFF;
    --bgc-team: #F5F4FA;
    --bgc-hover-btn: #188CE8;
}